<div class="p-2 rounded-sm hover:bg-black/5">

  <div class="flex space-x-2">

    <%= render "plain/conversations/status", conversation: conversation %>

    <%= link_to conversation_path(conversation), data: {"turbo-frame": "plain"} do %>
      <span><%= conversation.subject || "new chat" %> </span>
    <% end %>
  </div>
  <p class="text-xs text-gray-400">
    <%= time_ago_in_words(conversation.created_at) %>
  </p>

</div>