
<%= turbo_frame_tag "message-form" do %>
  <%= form_for Plain::Message.new, 
    url: plain.conversation_messages_path(conversation), 
    html: { 
      data: { 
        controller: "loader",
        action: "turbo:submit-start->loader#formSubmitting turbo:submit-end->loader#formSubmitted"
      }
    } do |form| %>
    <div class="absolute bottom-0 border-t dark:border-zinc-900 pt-2 bg-white h-[52px]
    bg-white/70 dark:bg-black/90 backdrop-blur dark:shadow-zinc-900 shadow-[0_-1px_rgba(229,231,235,.53),0_5px_20px_-5px_rgba(0,0,0,.24)]
    ">
      <div class="flex space-x-2 w-[448px] px-2">
        <%= form.text_field :content, 
          label: false,
          placeholder: "Write your prompt",
          class: "w-full rounded-md flex-1 sm:text-sm text-base bg-zinc-200/50 dark:bg-zinc-800/30 border border-zinc-200/50 dark:border-zinc-600 resize-none scroll-m-2 h-[36px] transition-colors focus:border-zinc-400 focus:ring-0 focus:outline-none"
          %>
        
        <div class="">
          <%= form.submit "Ask Plain", "data-loader-target": "loader", 
          class: "btn-dark" %>
        </div>

      </div>
    </div>
  <% end %>
<% end %>
