
<div class="lg:ml-72 xl:ml-80">
  <header class="contents lg:pointer-events-none lg:fixed lg:inset-0 lg:z-40 lg:flex">
    <div class="contents lg:pointer-events-auto lg:block lg:w-72 lg:overflow-y-auto lg:border-r lg:border-zinc-900/10 lg:px-6 lg:pb-8 lg:pt-4 lg:dark:border-white/10 xl:w-80">
      <div class="hidden lg:flex">
        <a aria-label="Home" href="/" class="flex space-x-2 items-center">
          <% #= image_tag("add-logo-here", class: "h-10") %>
          <span class="font-extrabold uppercase text-2xl">Plain</span>
        </a>
      </div>

      <div class="fixed inset-x-0 top-0 z-50 flex h-14 items-center justify-between gap-12 px-4 transition sm:px-6 lg:left-72 lg:z-30 lg:px-8 xl:left-80 backdrop-blur-sm dark:backdrop-blur lg:left-72 xl:left-80 bg-white/[var(--bg-opacity-light)] dark:bg-zinc-900/[var(--bg-opacity-dark)]" style="--bg-opacity-light: 0.5; --bg-opacity-dark: 0.2;">
        
        <div class="absolute inset-x-0 top-full h-px transition bg-zinc-900/7.5 dark:bg-white/7.5"></div>
        <!--<div class="hidden lg:block lg:max-w-md lg:flex-auto">
          <button type="button" class="hidden h-8 w-full items-center gap-2 rounded-full bg-white pl-2 pr-3 text-sm text-zinc-500 ring-1 ring-zinc-900/10 transition hover:ring-zinc-900/20 dark:bg-white/5 dark:text-zinc-400 dark:ring-inset dark:ring-white/10 dark:hover:ring-white/20 lg:flex focus:[&amp;:not(:focus-visible)]:outline-none">
            <svg viewBox="0 0 20 20" fill="none" aria-hidden="true" class="h-5 w-5 stroke-current">
              <path stroke-linecap="round" stroke-linejoin="round" d="M12.01 12a4.25 4.25 0 1 0-6.02-6 4.25 4.25 0 0 0 6.02 6Zm0 0 3.24 3.25"></path>
            </svg>Find something... <kbd class="ml-auto text-2xs text-zinc-400 dark:text-zinc-500">
              <kbd class="font-sans">⌘</kbd>
              <kbd class="font-sans">K</kbd>
            </kbd>
          </button>
        </div>
        <div class="flex items-center gap-5 lg:hidden">
          <button type="button" class="flex h-6 w-6 items-center justify-center rounded-md transition hover:bg-zinc-900/5 dark:hover:bg-white/5" aria-label="Toggle navigation">
            <svg viewBox="0 0 10 9" fill="none" stroke-linecap="round" aria-hidden="true" class="w-2.5 stroke-zinc-900 dark:stroke-white">
              <path d="M.5 1h9M.5 8h9M.5 4.5h9"></path>
            </svg>
          </button>
          <a aria-label="Home" href="/plain" class="flex space-x-2 items-center">
            
            <% # image_tag("add-logo-here", class: "h-6") %>
            <span class="font-extrabold uppercase text-sm">Plain</span>
          </a>
        </div>
        -->
        <div class="flex items-center gap-5">
          <nav class="hidden md:block">
            <ul role="list" class="flex items-center gap-8">
              <!--<li>
                <a class="text-sm leading-5 text-zinc-600 transition hover:text-zinc-900 dark:text-zinc-400 dark:hover:text-white" href="/">API</a>
              </li>
              <li>
                <a class="text-sm leading-5 text-zinc-600 transition hover:text-zinc-900 dark:text-zinc-400 dark:hover:text-white" href="/#">Documentation</a>
              </li>-->
              <li>
                <a class="text-sm leading-5 text-zinc-600 transition hover:text-zinc-900 dark:text-zinc-400 dark:hover:text-white" 
                href="https://railshackathon.com/entries/34" target="blank">
                Vote for us in rails hackathon 2023
                </a>
              </li>
            </ul>
          </nav>
          <div class="hidden md:block md:h-5 md:w-px md:bg-zinc-900/10 md:dark:bg-white/15"></div>
          <div class="hidden flex gap-4">
            <div class="contents lg:hidden">
              <button type="button" class="flex h-6 w-6 items-center justify-center rounded-md transition hover:bg-zinc-900/5 dark:hover:bg-white/5 lg:hidden focus:[&amp;:not(:focus-visible)]:outline-none" aria-label="Find something...">
                <svg viewBox="0 0 20 20" fill="none" aria-hidden="true" class="h-5 w-5 stroke-zinc-900 dark:stroke-white">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M12.01 12a4.25 4.25 0 1 0-6.02-6 4.25 4.25 0 0 0 6.02 6Zm0 0 3.24 3.25"></path>
                </svg>
              </button>
            </div>
            <button type="button" class="flex h-6 w-6 items-center justify-center rounded-md transition hover:bg-zinc-900/5 dark:hover:bg-white/5" aria-label="Toggle dark mode">
              <svg viewBox="0 0 20 20" fill="none" aria-hidden="true" class="h-5 w-5 stroke-zinc-900 dark:hidden">
                <path d="M12.5 10a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0Z"></path>
                <path stroke-linecap="round" d="M10 5.5v-1M13.182 6.818l.707-.707M14.5 10h1M13.182 13.182l.707.707M10 15.5v-1M6.11 13.889l.708-.707M4.5 10h1M6.11 6.111l.708.707"></path>
              </svg>
              <svg viewBox="0 0 20 20" fill="none" aria-hidden="true" class="hidden h-5 w-5 stroke-white dark:block">
                <path d="M15.224 11.724a5.5 5.5 0 0 1-6.949-6.949 5.5 5.5 0 1 0 6.949 6.949Z"></path>
              </svg>
            </button>
          </div>
          <!--
          <div class="hidden min-[416px]:contents">
            <a class="inline-flex gap-0.5 justify-center overflow-hidden text-sm font-medium transition rounded-full bg-zinc-900 py-1 px-3 text-white hover:bg-zinc-700 dark:bg-emerald-400/10 dark:text-emerald-400 dark:ring-1 dark:ring-inset dark:ring-emerald-400/20 dark:hover:bg-emerald-400/10 dark:hover:text-emerald-300 dark:hover:ring-emerald-300" 
            href="/#">Sign in</a>
          </div>
          -->
        </div>
        
      </div>

      <nav class="hidden lg:mt-10 lg:block">
        <%= render partial: 'menu', locals: { nodes: @docs_structure[:children], level: 1 } %>
      </nav>

    </div>
  </header>

  <div class="relative px-4 pt-14 sm:px-6 lg:px-8">
    <main class="py-16">
      <article class="prose dark:prose-invert">
        <%= @content.html_safe unless @content.nil? %>
      </article>
    </main>


    <% if @main_config.present? %>
      <%= render partial: "sections", collection: @main_config, as: :section %>
    <% end %>

    <%= render "footer" %>
  </div>
</div>